name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT || 22 }}
          script: |
            set -e

            cd /home/ubuntu/kumsserpbackend

            git pull origin main

            source venv/bin/activate

            pip install -r requirements.txt

            python manage.py migrate --noinput

            sudo systemctl daemon-reload
            sudo systemctl restart gunicorn
            sudo systemctl reload nginx
